<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><!-- //NOSONAR -->
<th:block th:replace="fragments/general.html::headerfiles('Example Page')"></th:block>
<body>
<main>
    <h2 class="display-6 text-center mb-4">Respuesta Parcial</h2>
    <div class="table-responsive">
        <table class="table table-info">
            <thead>
            <tr>
                <th>Num_Preguntas</th>
                <th>Letra</th>
                <th>Razon</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="danielTorres: ${danielTorres}">
                <td th:text="${danielTorres.preguntas}" ></td>
                <td th:text="${danielTorres.letra}" ></td>
                <td th:text="${danielTorres.razon}" ></td>
            </tr>
            </tbody>

        </table>
    </div>
</main>
<footer th:replace="fragments/general::empty-footer"></footer>
</body>
</html>